{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "indicatorsPerceptionCult": false,
    "WORLDBANK": false,
    "dataLovers": false,
    "filterCountry": false,
    "showIndicatorNamesCountry": false,
    "filterIndicatorYear": false,
    "showAllIndicators": false,
  },
  "rules": {
    "no-console": 0,
    "semi": 2,
  }
}
